<template>
  <div id="container">
    <div id="search-container">
      <input
        id="search"
        type="text"
        v-model="searchTerm"
        placeholder="chercher (touche f)"
      />
      <p>{{ sortedAndFilteredBooks.length }} livres</p>
    </div>
    <div
      id="big-search-container"
      v-show="isBigSearchOpen"
      @click="isBigSearchOpen = false"
    >
      <input
        id="big-search"
        type="text"
        v-model="searchTerm"
        placeholder="chercher"
        ref="bigSearchInput"
      />
    </div>
    <table>
      <thead>
        <tr>
          <th>index</th>
          <th
            v-for="category in useCategories"
            @click="sortTable(category.value)"
          >
            {{ category.text }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(book, index) in sortedAndFilteredBooks" @click="edit(book)">
          <td>{{ index }}</td>
          <td v-for="property in book">{{ property }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import {
  useInteractiveBooks,
  useStaticBooks,
  useEditingBook,
  useCategories,
} from "../composables/Books"
import { Book } from "../types/Book"
import { ref, computed, onMounted } from "vue"

onMounted(() => {
  document.addEventListener("keydown", setKeys)
})

const searchTerm = ref("")
const sortKey = ref("")
const sortOrder = ref("asc")

const isBigSearchOpen = ref(false)
const bigSearchInput = ref<HTMLElement | null>(null)

const sortedAndFilteredBooks = computed(() => {
  const term = searchTerm.value.toLowerCase().trim()

  let filteredBooks = useStaticBooks.value
  if (term !== "") {
    filteredBooks = filteredBooks.filter((book: Book) => {
      return Object.values(book).some((value: string | number) => {
        if (typeof value === "string") {
          return value.toLowerCase().includes(term)
        }
        return false
      })
    })
  }

  if (sortKey.value) {
    filteredBooks.sort((a, b) => {
      const valueA = a[sortKey.value].toString()
      const valueB = b[sortKey.value].toString()

      if (sortOrder.value === "asc") {
        return valueA.localeCompare(valueB)
      } else {
        return valueB.localeCompare(valueA)
      }
    })
  }

  return filteredBooks
})

function setKeys(event: KeyboardEvent) {
  if (
    !event.metaKey &&
    !event.ctrlKey &&
    event.key === "f" &&
    !isBigSearchOpen.value &&
    !useEditingBook.value
  )
    openBigSearch()

  if (
    !event.metaKey &&
    !event.ctrlKey &&
    event.key === "x" &&
    !isBigSearchOpen.value &&
    !useEditingBook.value
  )
    searchTerm.value = ""
  if (
    (event.key === "Escape" || event.key === "Enter") &&
    isBigSearchOpen.value &&
    !useEditingBook.value
  )
    isBigSearchOpen.value = false
}

function edit(book) {
  useInteractiveBooks.value = useInteractiveBooks.value.map(
    (interactiveBook: Book) => {
      if (interactiveBook.title === book.title) interactiveBook.isEditing = true
      return interactiveBook
    }
  )
}

function sortTable(key) {
  if (sortKey.value === key) {
    sortOrder.value = sortOrder.value === "asc" ? "desc" : "asc"
  } else {
    sortKey.value = key
    sortOrder.value = "asc"
  }
}

function openBigSearch() {
  isBigSearchOpen.value = true
  setTimeout(() => {
    bigSearchInput.value?.focus()
  }, 100)
}
</script>

<style scoped>
#container {
  margin: 1rem;
}

#search-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#search-container p {
  margin: 0;
}

#search {
  max-width: 10rem;
  margin-right: 1rem;
}

#big-search-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#big-search {
  font-size: 3rem;
  width: 20rem;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;
  position: sticky;
  top: 5rem;
}

thead th {
  cursor: pointer;
  padding: 0.5rem;
  min-width: 10rem;
}

thead th:first-child {
  min-width: 2rem;
}
thead th:nth-child(2) {
  min-width: 20rem;
}

tbody tr {
  cursor: pointer;
  box-sizing: content-box;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

tbody td {
  padding: 1rem 0.5rem;
}
</style>
