<template>
  <ul id="books-list">
    <li
      v-for="book in useInteractiveBooks"
      @click="book.isEditing = !book.isEditing"
      :key="book?.title"
    >
      <p>
        <em>{{ book?.title }}</em
        >, {{ book?.authorSurname }} {{ book?.authorName
        }}<span v-if="book?.publicationYear"
          >, {{ book.publicationYear }}.
        </span>
        <span v-if="book?.publisher">Édition {{ book.publisher }}</span
        ><span v-if="book?.collection">, {{ book.collection }}</span
        ><span v-if="book?.editionYear">, {{ book?.editionYear }}</span>
      </p>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { Book } from "../types/Book"
import { useInteractiveBooks } from "../composables/Books"

const props = defineProps({
  books: Array<Book>,
})
</script>

<style scoped>
li {
  cursor: pointer;
}
</style>
