<template>
  <div class="category">
    <label>{{ category.text }} :</label>
    <input type="date" v-model="useEditingBook[category.value]" />
  </div>
</template>

<script setup lang="ts">
import { useEditingBook } from "../composables/Books"
const props = defineProps({
  category: Object,
})

const editingBook = useEditingBook.value
</script>

<style scoped></style>
