<template>
  <div id="overlay" @click="close"></div>
  <dialog>
    <div id="editor">
      <header class="top-fixed">
        <button id="close" @click="close" title="fermer (échap)">
          <img :src="closeIcon" alt="" />
        </button>
      </header>
      <div id="main-categories">
        <template v-for="category in mainCategories">
          <TagsField v-if="category.value === 'tags'" :category="category" />
          <div v-else class="category" :key="category.value">
            <label>{{ category.text }} :</label>
            <div class="input-wrapper">
              <input
                type="text"
                :placeholder="category.text"
                v-model="useEditingBook[category.value]"
                @input="filterAutocomplete(category.value)"
                :autocomplete="category.value"
                :data-category="category.value"
                @keydown.prevent.tab="
                  selectAutocompleteValue(
                    useEditingBook[category.value],
                    category.value,
                    filteredAutocomplete[category.value][0]
                  )
                "
                @focus="enterFocus(category.value, $event)"
                @blur="leaveFocus(category.value)"
              />
              <button
                v-if="category.value === 'publicationYear'"
                id="search-publication-year"
                class="secondary"
                @click="searchPublicationYear($event)"
                title="Chercher sur openlibrary.org"
              >
                chercher
              </button>
            </div>
            <ul
              v-show="
                showAutocomplete[category.value] &&
                filteredAutocomplete[category.value].length > 0
              "
              id="autocomplete"
            >
              <li
                v-for="tag in filteredAutocomplete[category.value]"
                :key="tag"
                @click="selectAutocompleteValue(category.value, tag)"
              >
                {{ tag }}
              </li>
            </ul>
          </div>
        </template>
      </div>
      <button
        id="show-more"
        class="tertiary"
        @click="isCollapsed = !isCollapsed"
      >
        Voir {{ isCollapsed ? "plus" : "moins" }}
        <img
          id="show-more__icon"
          :src="uncollapseIcon"
          :class="{ '--uncollapsed': !isCollapsed }"
          alt=""
        />
      </button>
      <div id="optional-categories" v-if="!isCollapsed">
        <template v-for="category in optionalCategories" :key="category.value">
          <DateField v-if="category.value === 'created'" :category="category" />
          <div v-else class="category">
            <label>{{ category.text }} :</label>
            <input
              type="text"
              v-model="useEditingBook[category.value]"
              :placeholder="category.text"
              @input="filterAutocomplete(category.value)"
              :autocomplete="category.value"
              @focus="enterFocus(category.value, $enter)"
              @blur="leaveFocus(category.value)"
              :data-category="category.value"
            />
            <ul
              v-show="
                showAutocomplete[category.value] &&
                filteredAutocomplete[category.value].length > 0
              "
              id="autocomplete"
            >
              <li
                v-for="tag in filteredAutocomplete[category.value]"
                :key="tag"
                @click="selectAutocompleteValue(category.value, tag)"
              >
                {{ tag }}
              </li>
            </ul>
          </div>
        </template>
      </div>
      <footer>
        <button
          @click="close"
          class="primary"
          title="valider (cmd / ctrl + entrée)"
        >
          valider
          <span v-if="saveState === 'saved'"
            ><img :src="checkIcon" alt=""
          /></span>
        </button>
        <button
          class="primary"
          @click="removeBook(useEditingBook)"
          title="valider (cmd / ctrl + suppr)"
        >
          supprimer
        </button>
      </footer>
    </div>
  </dialog>
</template>

<script setup lang="ts">
import { computed, onBeforeUnmount, onMounted, ref } from "vue"
import {
  useEditingBook,
  useCategories,
  removeBook,
  saveBooks,
  useInteractiveBooks,
} from "../composables/Books"
import closeIcon from "../assets/icons/close.svg"
import uncollapseIcon from "../assets/icons/uncollapse.svg"
import TagsField from "./TagsField.vue"
import DateField from "./DateField.vue"
import { accentsTidy } from "../utils/helpers.js"
import unorm from "unorm"

onMounted(() => {
  document.addEventListener("keydown", setKeys)
  setTimeout(() => {
    document.querySelector("input")?.focus()
  }, 100)
})

const saveState = ref("save")
const isCollapsed = ref(true)
const showAutocomplete = ref({})

const mainCategories = computed(() => {
  return useCategories.filter((category) => category.main)
})

const optionalCategories = computed(() => {
  return useCategories.filter((category) => !category.main)
})

const filteredAutocomplete = computed<Object>(() => {
  const filtered = {}
  for (const category of useCategories) {
    filtered[category.value] = getAutocompleteValues(category.value)
  }
  return filtered
})

function close() {
  if (useEditingBook.value.title.length === 0) {
    if (confirm("Un livre doit avoir au minimum un titre. Le supprimer ?")) {
      removeBook(useEditingBook.value)
    }
  } else {
    useEditingBook.value.isEditing = false
  }
  saveBooks()
}

function setKeys(event: KeyboardEvent) {
  if (event.key === "Enter" && (event.metaKey || event.ctrlKey)) close(event)
  if (event.key === "Backspace" && (event.metaKey || event.ctrlKey))
    removeBook(useEditingBook.value)
  if (event.key === "Escape") close()
}

function filterAutocomplete(category) {
  const inputValue = useEditingBook.value[category]
  const filteredValues = getAutocompleteValues(category).filter((value) =>
    value.toLowerCase().includes(inputValue.toLowerCase())
  )
  filteredAutocomplete.value[category] = filteredValues
  showAutocomplete.value[category] = true
}

function selectAutocompleteValue(
  input: string,
  category: string,
  value: string
) {
  if (input.length > 0) useEditingBook.value[category] = value

  document
    .querySelector(`input[data-category="${category}"]`)
    ?.parentNode?.parentNode.nextElementSibling.querySelector("input")
    .focus()
}

function getAutocompleteValues(category) {
  const books = useInteractiveBooks.value
  const values = new Set()
  for (const book of books) {
    const value = book[category]
    if (value && typeof value === "string") {
      values.add(value.trim())
    }
  }
  return Array.from(values)
}

function enterFocus(category: string, $event: FocusEvent) {
  showAutocomplete[category] = true
}

function leaveFocus(category: string) {
  setTimeout(() => {
    showAutocomplete.value[category] = false
  }, 100)
}

function searchPublicationYear(event: MouseEvent) {
  event.target.textContent = "..."
  fetch(
    "https://openlibrary.org/search.json?title=" +
      encodeURIComponent(useEditingBook.value.title)
  )
    .then((res) => res.json())
    .then((json) => {
      console.log("Tous les ouvrages trouvés sur openlibrary.org :", json)

      if (json.numFound === 0) {
        event.target.innerHTML = "rien trouvé"
      } else {
        useEditingBook.value.publicationYear = checkOpenLibraryResults(
          event,
          json
        )
      }
    })
}

function checkOpenLibraryResults(event: MouseEvent, json: Object) {
  let found = false
  let firstPublishYear = ""
  json.docs.forEach((doc: Array<Object>) => {
    if (!found) {
      const authorNameType = typeof doc.author_name
      const authorName = accentsTidy(useEditingBook.value.authorName)

      const hasSameAuthorName =
        (authorNameType === "object" &&
          doc.author_name.some((author: Array<string>) =>
            accentsTidy(unorm.nfc(author)).includes(authorName)
          )) ||
        doc.author_alternative_name?.some((author: Array<string>) =>
          accentsTidy(unorm.nfc(author)).includes(authorName)
        ) ||
        (authorNameType === "string" &&
          accentsTidy(unorm.nfc(doc.author_name)).includes(authorName))

      if (hasSameAuthorName) {
        found = true
        event.target.textContent = "trouvé"
        firstPublishYear = doc.first_publish_year
        console.log("Correspondance titre / auteur :", doc)
      } else {
        event.target.innerHTML = "rien&nbsp;trouvé"
      }
    }
  })
  return firstPublishYear
}

onBeforeUnmount(() => {
  document.removeEventListener("keydown", setKeys)
})
</script>

<style>
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

dialog {
  position: fixed;
  top: 2rem;
  display: block;
  box-sizing: border-box;
  opacity: 1;
  max-height: 80vh;
  width: 40vw;
  overflow: auto;
  border: 1px solid #000;
  padding: var(--space-3) var(--space-3) 0 var(--space-3);
  z-index: 2;
}

header {
  z-index: 1;
}

header button#close {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  display: flex;
}

#editor {
  position: relative;
}

.category {
  margin-bottom: var(--space-3);
}

label {
  display: block;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.input-wrapper {
  display: flex;
}

input:focus-visible {
  outline: none;
}

#optional-categories {
  margin-top: 1rem;
}

#show-more__icon.--uncollapsed {
  transform: rotate(180deg);
}

footer {
  position: sticky;
  width: calc(100% + 2 * var(--space-3));
  height: 3rem;
  bottom: 0;
  margin-top: 4rem;
  margin-left: calc(0rem - var(--space-3));
  margin-right: calc(0rem - var(--space-3));

  border-top: 1px solid #000;

  display: flex;
}

footer button {
  width: 50%;
  border: 1px solid #fff;
}

button img {
  height: 1rem;
}

.category {
  position: relative;
}

@media screen and (max-width: 500px) {
  dialog {
    width: 100vw;
  }
}
</style>
