<template>
  <div class="category">
    <div id="selected-tags">
      <label>{{ category.text }} :</label>
      <button
        class="chip"
        v-for="chip in chips"
        @click="removeTag(chip)"
        :key="chip"
      >
        {{ chip }}
        <img :src="closeIcon" alt="" />
      </button>
    </div>
    <div id="chips-container">
      <div id="input-container">
        <input
          type="text"
          :placeholder="category.text"
          v-model="input"
          ref="inputNode"
          @focus="isInputFocused = true"
          @blur="leaveFocus"
          @keydown.tab="addTag()"
          @keydown.down="addTag(filteredTags[0])"
          @keydown.backspace="removeLastTag"
        />
        <ul
          id="autocomplete"
          v-show="isInputFocused && filteredTags.length > 0 && input.length > 0"
        >
          <li
            v-for="(tag, index) in filteredTags"
            :key="tag"
            @mousedown="handleTagMouseDown"
            @mouseup="addTag(tag)"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue"
import { useEditingBook, useInteractiveBooks } from "../composables/Books"
import closeIcon from "../assets/icons/close.svg"
import { Book } from "../types/Book"

const props = defineProps({
  category: Object,
})

onMounted(() => {
  document.addEventListener("keydown", (event) => {
    if (event.key === "Enter" && (event.ctrlKey || event.metaKey)) addTag()
  })
})

const inputNode = ref<Node | null>(null)
const isInputFocused = ref(false)

const input = ref<string>("")
const tags = computed(() => useEditingBook.value.tags)
const chips = computed(() => {
  const chips = tags.value
    .split(",")
    .map((chip) => chip.trim())
    .filter((chip) => chip !== "")
  return chips
})

const libraryTags = computed<Array<string>>(() => {
  const tagsSet = new Set()
  useInteractiveBooks.value.forEach((book: Book) => {
    const tags = book.tags.split(", ")
    tags.forEach((tag: string) => tagsSet.add(tag.trim()))
  })
  return Array.from(tagsSet)
})

const filteredTags = computed<Array<string>>(() => {
  return libraryTags.value.filter((tag) =>
    tag.toLowerCase().includes(input.value.toLowerCase())
  )
})

function leaveFocus() {
  setTimeout(() => {
    isInputFocused.value = false
  }, 50)
}

function addTag(tag: string | undefined = undefined) {
  const tags = tag ? tag?.split(",") : input.value.split(",")
  tags.forEach((tag) => {
    const trimmedTag = tag.trim()
    const alreadyExists = chips.value.includes(tag)
    if (trimmedTag && !alreadyExists) {
      useEditingBook.value.tags +=
        useEditingBook.value.tags.length === 0 ? trimmedTag : ", " + trimmedTag
    }
  })
  input.value = ""
  setTimeout(() => {
    inputNode.value?.focus()
    setTimeout(() => {
      isInputFocused.value = true
    }, 50)
  }, 10)
}

function removeTag(tag: string) {
  const index = chips.value.indexOf(tag)
  if (index !== -1) {
    chips.value.splice(index, 1)
    updateTagsFromChips()
  }
}

function removeLastTag() {
  if (input.value === "" && chips.value.length > 0) {
    const lastTag = chips.value[chips.value.length - 1]
    removeTag(lastTag)
  }
}

function updateTagsFromChips() {
  useEditingBook.value.tags = chips.value.join(", ")
}

function handleTagMouseDown(event: MouseEvent) {
  event.stopPropagation()
}
</script>

<style scoped>
#selected-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}
#selected-tags label {
  margin-right: 0.5rem;
}
#chips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #000;
}

.chip {
  background-color: #fff;
  color: #000;
  padding: 0.2rem;
  margin: 0 0.2rem;
  display: flex;
  align-items: center;
}

.chip img {
  height: 0.7rem;
  margin-left: 0.5rem;
}

.chip p {
  margin: 0;
}

#input-container {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}
</style>
