<template>
  <header class="top-fixed">
    <div id="views">
      <button class="secondary" @click="view = 'table'">
        <img :src="tableIcon" alt="" />
      </button>
      <button class="secondary" @click="view = 'list'">
        <img :src="listIcon" alt="" />
      </button>
    </div>
    <button
      v-if="!useEditingBook"
      class="secondary"
      @click="addNewBook"
      title="ajouter un livre (ctrl + n)"
    >
      <img :src="plusIcon" alt="" />
    </button>
  </header>
  <main>
    <EditionDialog v-if="useEditingBook" />
    <BooksList v-if="view === 'list'" />
    <BooksTable v-if="view === 'table'" />
  </main>
</template>

<script setup lang="ts">
import { onBeforeMount, onMounted, ref } from "vue"
import { Book } from "./types/Book"
import EditionDialog from "./components/EditionDialog.vue"
import BooksList from "./components/BooksList.vue"
import BooksTable from "./components/BooksTable.vue"
import {
  useInteractiveBooks,
  useEditingBook,
  addNewBook,
  backupBooks,
} from "./composables/Books"
import plusIcon from "./assets/icons/plus.svg"
import listIcon from "./assets/icons/list.svg"
import tableIcon from "./assets/icons/table.svg"

onBeforeMount(async () => {
  const booksData = await getBooks()
  useInteractiveBooks.value = booksData.map((book: Book) => {
    const editedBook = Object.assign({}, book)
    editedBook.isEditing = false
    return editedBook
  })
  backupBooks()
})

onMounted(() => {
  document.addEventListener("keydown", (event) => {
    if (
      !useEditingBook.value &&
      (event.metaKey || event.ctrlKey) &&
      event.key === "n"
    )
      addNewBook()
  })
})

const view = ref<string>("table")

async function getBooks() {
  const response = await fetch("/books.json")
  return await response.json()
}
</script>

<style scoped>
header {
  position: fixed;
  width: calc(100vw - 2 * var(--space-3));
  justify-content: space-between;
  margin: var(--space-3);
}

#views button {
  margin-right: 1rem;
}

#views {
  display: flex;
}

main {
  margin-top: 5rem;
}
</style>
