:root {
  --space-1: 3rem;
  --space-2: 2rem;
  --space-3: 1.5rem;
  --space-4: 1rem;
  --space-5: 0.5rem;
}

* {
  font-family: sans-serif;
  font-weight: 100;
}

header.top-fixed {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

button {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
button[disabled] {
  background-color: #eee !important;
  cursor: not-allowed !important;
}

button.primary {
  background-color: #000;
  color: #fff;
}

button.secondary {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
}

button.tertiary {
  background-color: #fff;
  color: #000;
  padding: 0;
  border: none;
}

button.tertiary img {
  height: 0.5rem !important;
  margin-left: 0.5rem;
}

button:hover {
  cursor: pointer;
}

input {
  display: block;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.1rem;
  border: none;
  border-right: none;
}

#autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 10rem;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem;
  margin-top: 0.2rem;
  background-color: #fff;
  z-index: 1;
}

#autocomplete li {
  cursor: pointer;
  padding: 0.3rem;
}

#autocomplete li:hover {
  background-color: #f0f0f0;
}
